# Entorno: dev o prod
APP_ENV=dev
APP_DEBUG=true

# Frontend
FRONTEND_PORT=5173
VITE_API_URL=http://localhost:8000/api
VITE_UMAMI_ID=

# Backend Proxy / Nginx
NGINX_PORT=8000
VITE_BACKEND_URL=http://localhost:8000/

# Base de Datos
MYSQL_VERSION=8.0
DB_PORT=3307
DB_DATABASE=telamonet
DB_USERNAME=telamo_user
DB_PASSWORD=telamo_pass
DB_ROOT_PASSWORD=root

# Signaling
SIGNALING_PORT=3000
VITE_SOCKET_URL=http://localhost:3000

# phpMyAdmin
PMA_PORT=8080

#LiveKit
VITE_LIVEKIT_URL=